nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0px 100px;
    z-index: 999;
    background-color: rgb(255,255,255);
}

.bodies-oben{
    text-align: center;
}

body{

}

.box{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.bodies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.beschreibung{
    grid-area: textbox;
    min-width: 300px;
    text-align: center;
    margin-right: -3px;
    background-color: rgb(200, 200, 200);
    border: rgb(0,0,0) solid 3px;
    padding: 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 30px;
}

.g{
    font-size: 1em;
    
}

.anzeige{
    grid-area: anzeigebox;
    min-height: 250px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: -5px;
    text-align: center;
    background-color: rgb(235, 235, 255);
    border: rgb(0,0,0) solid 5px;
    padding: 10px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    
    flex-grow: 3;
}

.regelbox{
    grid-area: regelbox;
    min-width: 300px;
    text-align: center;
    margin-left: -3px;
    background-color: rgb(200, 200, 200);
    border: rgb(0,0,0) solid 3px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
}

.bodies-unten{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.eingabebox{
    grid-area: eingabe;
    
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 30px;
    border: rgb(0, 0, 0) 3px solid;
    background-color: rgb(52, 52, 52);
    color: rgb(255,255,255);
    padding: 15px 10px;

    align-self: flex-start;
}
